[Desktop Entry]
Name=geotagging
Name[en_US]=geotagging
Comment=Photography geotagging tool
GenericName=geotagging
Exec=com.github.jmlich.geotagging %u
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/applications/86x86/com.github.jmlich.geotagging.png
Categories=Graphics;Application;Qt;Network;
StartupNotify=true
