[Desktop Entry]
Name=Geotagging
Comment=Photography geotagging tool
GenericName=geotagging
Exec=com.github.jmlich.geotagging %u
Terminal=false
Type=Application
Icon=com.github.jmlich.geotagging
Categories=Graphics;Photography;Maps
StartupNotify=true
Name[en_US]=Geotagging
Name[da_DK]=Geotagging
Name[cs_CZ]=Geotagging
Name[es_419]=Geoetiquetado
Name[fr]=Géomarquage
Name[it_IT]=Geotagging
Name[tr]=Geotagging
