[Desktop Entry]
Name=geotagging
Name[en_US]=geotagging
Comment=Photography geotagging tool
GenericName=geotagging
Exec=com.github.jmlich.geotagging %u
Terminal=false
Type=Application
Icon=com.github.jmlich.geotagging
Categories=Graphics;Photography;Maps
StartupNotify=true
