[Desktop Entry]
Name=geotagging
Name[en_US]=geotagging
Comment=Photography geotagging tool
GenericName=geotagging
Exec=geotagging %u
Terminal=false
Type=Application
Icon=/usr/share/icons/hicolor/applications/64x64/geotagging.png
Categories=Graphics;Application;Qt;Network;
StartupNotify=true
